.chart-container{
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    height: 500px;
    width: 80%;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 15px;
    margin-top: 50px;
}

.chart-nav{
    display:flex;
    justify-content: space-around;
    padding: 20px 0;
    width: 60%;
    align-items: center;
    margin: auto;
    padding-bottom: 200px;
}

.chart-button{
    padding: 10px;
    border: 1px solid white;
    border-radius: 3px;
    color:white;
    font-weight: bold;
    transition: 0.5s;
}

.chart-button:hover{
    cursor: pointer;
    color: rgb(28, 39, 58);
    background-color: white;
    transition: 0.5s;
}