.loading-page {
		width: 100vw;
	height: 100vh;
	background-color: rgb(28, 39, 58);
}

.loading-gif {
	position: absolute;
	top: 30%;
	left: calc(50% - 400px / 2);
}

.main-header {
	display: flex;
	justify-content: space-around;
	padding: 30px 0;
}

.main-nav {
	display: flex;
	/* width: 40%; */
	align-items: center;
}

.main-nav > * {
	padding: 10px;
	color: rgb(232, 158, 16);
	font-weight: 800;
}

.main-nav > *:hover {
	cursor: pointer;
}

.main-nav > *:disabled {
	border: 1px 1px 0 1px solid lightslategray;
}

.main-title {
	color: rgb(232, 158, 16);
	font-size: x-large;
	font-weight: 800;
	padding: 20px 0;
	text-align: center;
}
